.plan__over
  .plan__relative
    .plan__floors
      button(type="button", data-tab="1").plan__floor.active.js-plan-floor 1 этаж
      button(type="button", data-tab="2").plan__floor.js-plan-floor 2 этаж
    .plan__floors-tab.active.js-plan-tab(data-tab="1")
      img(src="img/plan.jpg").plan__bg
      span(data-html="<p class='plan__dsc'>Краткое описание, которое может содержать, к примеру, информацию о занимаемой площади</p>", style="left: 58.3%; top: 39.5%").plan__point.plan__point_empty.js-plan-point
      span(data-html="<p class='plan__dsc'>Краткое описание, которое может содержать, к примеру, информацию о занимаемой площади</p>", style="left: 3.3%; top: 8.5%").plan__point.plan__point_empty.js-plan-point
      span(data-html="<p class='plan__dsc'>Краткое описание, которое может содержать, к примеру, информацию о занимаемой площади</p>", style="left: 14.4%; top: 4.5%").plan__point.plan__point_empty.js-plan-point
      span(data-html="<p class='plan__dsc'>Краткое описание, которое может содержать, к примеру, информацию о занимаемой площади</p>", style="left: 9.4%; top: 1.5%").plan__point.plan__point_empty.js-plan-point
      span(data-html="<p class='plan__dsc'>Краткое описание, которое может содержать, к примеру, информацию о занимаемой площади</p>", style="left: 4.8%; top: 14.1%").plan__point.plan__point_empty.js-plan-point
      span(data-html="<p class='plan__dsc'>Краткое описание, которое может содержать, к примеру, информацию о занимаемой площади</p>", style="left: 7.3%; top: 21%").plan__point.plan__point_empty.js-plan-point
      span(data-html="<p class='plan__dsc'>Краткое описание, которое может содержать, к примеру, информацию о занимаемой площади</p>", style="left: 7.3%; top: 28.3%").plan__point.plan__point_empty.js-plan-point
      span(data-html="<p class='plan__dsc'>Краткое описание, которое может содержать, к примеру, информацию о занимаемой площади</p>", style="left: 7.3%; top: 37%").plan__point.plan__point_empty.js-plan-point
      span(data-html="<p class='plan__dsc'>Краткое описание, которое может содержать, к примеру, информацию о занимаемой площади</p>", style="left: 7.3%; top: 51.2%").plan__point.plan__point_empty.js-plan-point
      span(data-html="<p class='plan__dsc'>Краткое описание, которое может содержать, к примеру, информацию о занимаемой площади</p>", style="left: 7.3%; top: 66.58%").plan__point.plan__point_empty.js-plan-point
      span(data-html="<p class='plan__dsc'>Краткое описание, которое может содержать, к примеру, информацию о занимаемой площади</p>", style="left: 7.3%; top: 75.3%").plan__point.plan__point_empty.js-plan-point
      span(data-html="<p class='plan__dsc'>Краткое описание, которое может содержать, к примеру, информацию о занимаемой площади</p>", style="left: 4.8%; top: 82.7%").plan__point.plan__point_empty.js-plan-point
      span(data-html="<p class='plan__dsc'>Краткое описание, которое может содержать, к примеру, информацию о занимаемой площади</p>", style="left: 17.3%; top: 29.3%").plan__point.plan__point_empty.js-plan-point
      span(data-html="<img class='plan__img' src='img/plan_mts.jpg'><p class='plan__title'>«МТС»</p><p class='plan__dsc'>Краткое описание, которое может содержать, к примеру, информацию о занимаемой площади</p>", style="left: 17.3%; top: 20.3%").plan__point.js-plan-point
      span(data-html="<p class='plan__dsc'>Краткое описание, которое может содержать, к примеру, информацию о занимаемой площади</p>", style="left: 19.2%; top: 20.3%").plan__point.plan__point_empty.js-plan-point
      span(data-html="<p class='plan__dsc'>Краткое описание, которое может содержать, к примеру, информацию о занимаемой площади</p>", style="left: 19.2%; top: 29.3%").plan__point.plan__point_empty.js-plan-point
      span(data-html="<p class='plan__dsc'>Краткое описание, которое может содержать, к примеру, информацию о занимаемой площади</p>", style="left: 19.2%; top: 36.1%").plan__point.plan__point_empty.js-plan-point
      span(data-html="<p class='plan__dsc'>Краткое описание, которое может содержать, к примеру, информацию о занимаемой площади</p>", style="left: 17.3%; top: 36.1%").plan__point.plan__point_empty.js-plan-point
      span(data-html="<p class='plan__dsc'>Краткое описание, которое может содержать, к примеру, информацию о занимаемой площади</p>", style="left: 18.25%; top: 42.9%").plan__point.plan__point_empty.js-plan-point
      span(data-html="<img class='plan__img' src='img/plan_mts.jpg'><p class='plan__title'>«МТС»</p><p class='plan__dsc'>Краткое описание, которое может содержать, к примеру, информацию о занимаемой площади</p>", style="left: 17.3%; top: 51.1%").plan__point.js-plan-point
      span(data-html="<p class='plan__dsc'>Краткое описание, которое может содержать, к примеру, информацию о занимаемой площади</p>", style="left: 19.2%; top: 51.1%").plan__point.plan__point_empty.js-plan-point
      span(data-html="<p class='plan__dsc'>Краткое описание, которое может содержать, к примеру, информацию о занимаемой площади</p>", style="left: 47%; top: 85%").plan__point.plan__point_empty.js-plan-point
      span(data-html="<p class='plan__dsc'>Краткое описание, которое может содержать, к примеру, информацию о занимаемой площади</p>", style="left: 10%; top: 93.2%").plan__point.plan__point_empty.js-plan-point
      span(data-html="<p class='plan__dsc'>Краткое описание, которое может содержать, к примеру, информацию о занимаемой площади</p>", style="left: 12.4%; top: 93.2%").plan__point.plan__point_empty.js-plan-point
      span(data-html="<p class='plan__dsc'>Краткое описание, которое может содержать, к примеру, информацию о занимаемой площади</p>", style="left: 15.6%; top: 93.2%").plan__point.plan__point_empty.js-plan-point
      span(data-html="<p class='plan__dsc'>Краткое описание, которое может содержать, к примеру, информацию о занимаемой площади</p>", style="left: 16.9%; top: 93.2%").plan__point.plan__point_empty.js-plan-point
    .plan__floors-tab.js-plan-tab(data-tab="2")
      img(src="img/plan.jpg").plan__bg
      span(data-html="<p class='plan__dsc'>Краткое описание, которое может содержать, к примеру, информацию о занимаемой площади</p>", style="left: 58.3%; top: 39.5%").plan__point.plan__point_empty.js-plan-point
      
    .plan__hint.hide.js-plan-hint
