doctype html
html
  head(lang="ru")
    include layout/__head
  body
    include layout/__header
    section.content
      section.container
        section.breadcrumbs
          a(href="#").breadcrumbs__href Главная
          span.breadcrumbs__delim / 
        h1 Новости
        include blocks/news-elem

        -var newsArray = []
        -newsArray.push({img: 'img/inews2.jpg', date: "07 августа 2018", href: "Открытие нового отдела - Pelican kids Discount", text: "В Детской Галереи Outlet Center, ТРК Фиеста,  открылся первый и единственный в России отдел Pelican kids Discount!", mainNews: 'true'})
        -newsArray.push({date: "28 июня 2018", href: "С нами работают самые крупные арендаторы и ритейлы Челябинска", text: "Уникальным якорным арендатором в наших Торговых Комплексах является магазин SPAR."})
        -newsArray.push({date: "17 июня 2018", href: "Приглашаем инвесторов к партнерству", text: "Мы стремимся к тому, чтобы компания стала выбором № 1 для известных брендов в г. Челябинске и Челябинской области."})
        -newsArray.push({date: "01 июня 2018", href: "200 квадратных метров под магазин по специальной цене", text: "Простая и понятная планировка наших торговых центров, наличие парковочных мест, расположение внутри жилых кварталов."})
        -newsArray.push({date: "14 мая 2018", href: "Смена управляющей компании", text: "Мы разрабатываем концепции развития Торговых и офисных комплексов с целью сделать их максимально удобными и привлекательными для наших посетителей."})
        -newsArray.push({img: 'img/inews1.jpg', date: "10 мая 2018", href: "С нами работают самые крупные арендаторы и ритейлы Челябинска а также ведущие банки России", text: "Оставьте заявку на сайте, и наш менеджер свяжется с вами для  уточнения деталей и подберет для вас необходимое помещение и лучшие финансовые условия.", mainNews: 'true', revert: 'true'})
        -newsArray.push({date: "21 апреля 2018", href: "Прирост строительства новой коммерческой недвижимости", text: "Девелоперы удвоили финансирование строительства новых ТЦ на фоне сдачи новых микрорайонов"})
        -newsArray.push({date: "17 апреля 2018", href: "В центре города сдаётся помещение площадью 150 квадратных метров", text: "Большая и удобная парковка, расположение в центре крупного жилого комплекса, а также выгодные условия аренды"})
        -newsArray.push({date: "30 марта 2018", href: "Выгодные условия аренды площади под магазин на Северо-Западе", text: "В связи с открытием новых торговых площадей мы обновили условия аренды коммерческой недвижимости"})
        -newsArray.push({date: "19 марта 2018", href: "Расширение торговой площади сети в Ленинском районе", text: "Новая концепция подразумевает объединение трех магазинов в единую торговую площадь с удобным расположением"})

        section.news__grid
          for news in newsArray
            +newsElem(news)
            
        include blocks/pagination
        
    include layout/__footer
    include layout/__scripts