doctype html
html
  head(lang="ru")
    include layout/__head
  body
    include layout/__header
    section.content
      section.container
        section.breadcrumbs
          a(href="#").breadcrumbs__href Главная
          span.breadcrumbs__delim / 
        h1 Большой заголовок первого уровня в две строки
        .text
          p 
            a(href="#") Недвижимость
            |  — вид имущества, признаваемого в законодательном порядке недвижимым.
          p К недвижимости по происхождению относятся земельные участки, участки недр и все, что прочно связано с землей, то есть объекты, перемещение которых без несоразмерного ущерба их назначению невозможно, в том числе здания, сооружения, объекты незавершённого строительства.
          img(src="img/text1.jpg")
          p Кроме недвижимости по происхождению, в России существует «недвижимость по закону». К ней относят подлежащие государственной регистрации воздушные и морские суда, суда внутреннего плавания, космические объекты.
          h2 Большой заголовок второго уровня в две строки, чтобы показать межстрочное расстояние
          p Термин «недвижимость» появился в России в 17 веке, но до сих пор нигде нет его точного юридического определения. Так согласно Гражданскому кодексу Российской Федерации к недвижимым вещам (недвижимое имущество, недвижимость) относятся:
          ul 
            li земельные участки,
            li участки недр,
            li обособленные водные объекты,
            li леса,
            li многолетние насаждения,
            li здания,
            li сооружения,
            li объекты незавершенного строительства,
            li все, что прочно связано с землей, то есть объекты, перемещение которых без несоразмерного ущерба их назначению невозможно.
          p Среди основных элементов рыночной экономики особое место занимает недвижимость, которая выступает в качестве средств производства - это могут быть:
          ol
            li Земля,
            li Административные, производственные, складские, торговые и прочие здания и помещения,
            li Сооружения предмета или объекта потребления (земельные участки, жилые дома, дачи, квартиры, гаражи).
          p Также к видам недвижимости в России относятся подлежащие государственной регистрации воздушные и морские суда, суда внутреннего плавания, космические объекты. Помимо этого, законом к недвижимым вещам может быть отнесено и иное имущество.
          h3 Большой заголовок третьего уровня в две строки, чтобы показать межстрочное расстояние
          p Недвижимость в любом общественном устройстве является объектом экономических и государственных интересов, и поэтому для этой категории имущества введена обязательность государственной регистрации прав на него, которая позволяет идентифицировать объект и субъект права, т.к. связь между объектом недвижимости и субъектом прав на него невидима, а передача недвижимости путем физического перемещения невозможна.
          table
            thead
              tr
                th Страна
                th Столица
                th Язык
            tbody
              tr
                td Российская Федерация
                td Москва
                td Русский
              tr
                td США
                td Вашингтон
                td Английский
              tr
                td Китай
                td Пекин
                td Китайский
              tr
                td Германия
                td Берлин
                td Немецкий
              tr
                td Франция
                td Париж
                td Французский
          p Определение важнейших видов недвижимости как в других странах, так и в России, не имеет серьезных различий и в основном совпадает. К отличительной особенности недвижимости во всем мире относится ее неразрывная связь с землей. Вне связи с земельными участками виды недвижимости теряют свое обычное назначение.
    include layout/__footer
    include layout/__scripts