@import "__vars.styl"

/* mains */
@import "__reset.styl"
@import "__fonts.styl"
@import "__common.styl"

/* plugins */
@import "__fancy.styl"
@import "__swiper.styl"
@import "__perfect-scrollbar.styl"
@import "__choices.styl"
@import "__glightbox.styl"
@import "__ion.styl"
@import "__ion.skinFlat.styl"

/* styles */
@import "blocks/header.styl"
@import "blocks/footer.styl"
@import "blocks/index.styl"
@import "blocks/news.styl"
@import "blocks/contacts.styl"
@import "blocks/popup.styl"
@import "blocks/pagination.styl"
@import "blocks/objects.styl"
@import "blocks/card.styl"